{% extends "base.html" %}

{% block content %}
    <h1>{{title}}</h1>

    {% if blogs|length == 0 %}
    <p>No posts yet</p>
    {% else %}
    <ul>
        {% for blog in blogs %}
        <li>
            <a href="/blog?id={{blog.id}}">{{blog.title}}</a>
            <br/>{{blog.body}}
            <br/>Written by 
                {% for user in users%}
                    {% if user.id == blog.owner_id %}
                        <a href="blog?user={{user.id}}">{{user.username}}</a>
                    {% endif %}
                {% endfor %}
            on {{blog.date}} 
        </li>
        <hr />
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}