{% extends "base.html" %}

{% block content %}
    <h1>{{title}}</h1>
    <form method="POST">
        <label>
            Title for your new post:
            <div><input name="title" type="text" value="{{blog_title}}"/></div>
            {% if blog_title_error %}
                <div class="error">Please fill in the title</div>
            {% endif %}
            Your new post body:
            <div><textarea name="body" type="text" value="{{blog_body}}"></textarea></div>
            {% if blog_body_error %}
                <div class="error">Please fill in the body</div>
            {% endif %}
        </label>
        <div><input type="submit" value="Add Entry" /></div>
    </form>
{% endblock %}