{% extends "base.html" %}

{% block content %}
    <h1>{{title}}</h1>
    <form method="POST">
        <label>
            Title for your new post:
            <input name="title" type="text" value="{{blog_title}}"/>
            {% if blog_title_error %}
                <span class="error">Please fill in the title</span>
            {% endif %}
            Your new post body
            <textarea name="body" type="text" value="{{blog_body}}"></textarea>
            {% if blog_body_error %}
                <span class="error">Please fill in the body</span>
            {% endif %}
        </label>
        <input type="submit" value="Add Entry" />
    </form>
{% endblock %}